// Fonts
$font-primary: "azo-sans-web", sans-serif;
$font-secondary: "abolition", sans-serif;



// Colors
$color-primary-purple: #a968c0;
$color-primary-orange: #e67e22;
$color-primary-green:   #6ab76d;
$color-light-orange: #f2ba9d;
$color-light-purple: #c59cd4;;
$color-light-green: #9ed0a0;
$color-dark-purple: #86549B;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e6e6e6;
$color-grey-light-3: #ccc;
$color-grey-dark-1: #777;
$color-grey-dark-2:#4d4d4d;
$color-grey-dark-3: #333;



$color-white: #fff;
$color-off-white: #f8f8f8;
$color-black: #000;

$font-weight-heavy: 600;


