.btn {
       text-transform: uppercase;
       text-decoration: none;
       padding: .8rem 2rem;
       border-radius: 1rem; 
       border: none;
       cursor: pointer;
       width: max-content;
       border-radius: 2rem;
       border: .2rem solid #ffffff;
       
       &--orange {
              background-color: $color-primary-orange;   
       }
}
