.general-info {
    //  grid-column: fullwidth;
      grid-template-rows: 4rem repeat(3, auto) 4rem;
  
      background-image: url(../../img/unitedstates.jpg);
      background-size: cover;
      background-position: center;
  
      .info{
  
          .reveal {
              font-weight: 600;
              font-size: calc(1.6rem + .5vw);
              display: none;
          }
  
          margin-top: 3rem;
          grid-row: 4/5;
          grid-column: centercontent;
          display: grid;
          grid-template-columns: min-content minmax(20rem, 68rem);
          column-gap: 3rem;
  
          @media only screen and (max-width: $bp-phone-port-large) {
              margin-top: 1rem;
              grid-template-columns: minmax(20rem, 68rem);
              column-gap: 0;
  
              &__large {
                  display: none;
              }
  
              .reveal {
                  display: inline;
              }
  
           }
  
          row-gap: 1rem;
          justify-content: center;
          align-items: center;
          line-height: normal;
    
          &__text {
              font-size: calc(1.2rem + .5vw);
              line-height: 1.6;
              letter-spacing: .1rem;;
          }
  
          &__large {
              font-family: "abolition", sans-serif;
          //    font-size: 12rem;
              font-size: calc(6rem + 4vw);
              font-weight: 300;
              letter-spacing: 1px;
              text-align: end;
  
              &--text-orange {
                  color: #f2ba9d;
               }
            
               &--text-purple {
                  color: #c59cd4;
               }
            
               &--text-green {
                  color: #9ed0a0;
               }
          }
          
      }
  }
  
  .safety {
    //  grid-column: fullwidth;
      grid-template-rows: 4rem repeat(3, auto) 7rem;
  
      // background-color: #f4f4f4;
      background-image: linear-gradient(rgba(#fff, .6), rgba(#fff, .6)), url(/img/6.jpg);
      background-size: cover;
      background-position: center;
  
      %image_bkgrd {
          margin-top: 4rem;
          grid-row: 4/5;
          opacity: .3;
          background-size: cover;
          z-index: 40;
      }
  
      &__outer {   
  
          &--1 {
              @extend %image_bkgrd;
              grid-column: 1 / 2;
              background-image: url(/img/9.jpg);
              height: 92.5%;
          }
  
          &--2 {
              @extend %image_bkgrd;
              grid-column: centercontent-end /fullcontent-end;
              background-image: url(/img/7.jpg);
              height: 92.5%; 
          }
  
          @media only screen and (max-width: $bp-tab-land-large) {
  
              &--1 {
                  height: 91.5%;
              }
      
              &--2 {
                  height: 91.5%; 
              }
          }
  
          @media only screen and (max-width: $bp-tab-land) {
  
              &--1 {
                  height: 89%;
              }
      
              &--2 {
                  height: 89%; 
              }
          }
  
          @media only screen and (max-width: $bp-tab-med) {
  
              &--1 {
                  height: 87%;
              }
      
              &--2 {
                  height: 87%; 
              }
          }
  
          @media only screen and (max-width: $bp-phone-port-large) {
  
              &--1 {
                  display: none;
              }
      
              &--2 {
                  display: none; 
              }
          }
  
         
      }
  
      .safety-info {
          margin-top: 4rem;
          grid-row: 4/5;
          grid-column: centercontent;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));  
          
          @media only screen and (max-width: $bp-phone-port-large) {
              grid-template-columns: 1fr;
          }
      }
  
      .info-card {
          display: grid;
          color: white;
  
          overflow: hidden;
  
          &__img {   
              grid-row: 1 / 2;
              grid-column: 1 / -1;
              width: 100%;
              opacity: .5;
              transition: all .4s;
          }
  
         
          &__content {
              
              & > * {
                  padding: 1rem 3rem 1rem 3rem;
              }
  
              grid-row: 1 / 2;
              grid-column: 1 / -1;
              justify-self: center;
              align-self: end;
              font-size: calc(1rem + .6vw);
              @media only screen and (max-width: $bp-phone-port-large) {
                  font-size: calc(1.6rem + .8vw);
              }
              line-height: 1.3;
              padding: 2rem 0 3rem 0;
              background-color: black;
              opacity: .65;
              z-index: 30;
              height: 21rem;
              transition: all 0.5s ease;
              
              .hidden {
                  display: none;
              }
          }
  
          &:hover {
              .info-card__content {
                  height: 28rem;
                  opacity: .8;
              }
  
              overflow: hidden;
             
              .hidden {
                  display: block;
              }
  
              .info-card__img {
                  opacity: 1;
                  transform: scale(1.05);       
              }
          }
  
          .heading-3 {
              //font-size: 3.3rem;
              font-size: calc(2.2rem + .6vw);
              @media only screen and (max-width: $bp-phone-port-large) {
                  font-size: calc(2.6rem + .9vw);
              }
              font-weight: 400;
  
              &::after {
                  content: "";
                  margin: 0 auto;
                  height: .2rem;
                  display: block;
                  margin-top: 1rem;
                  width: 10rem;
                  background-color: #6ab76d;
              }
          }
      }
    
  }
  
  .testimonials {
     // grid-column: fullwidth;
      grid-template-rows: 4rem repeat(5, auto) 7rem;
      @media only screen and (max-width: $bp-phone-port-large) {
          grid-template-rows: 4rem repeat(5, auto) 4rem;
      }
  
      background-image: linear-gradient(rgba(#4d4d4d, .7), rgba(#4d4d4d, .7)), url(../img/8.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      
      color: #fff;
  
      .testimonial-info {
          margin-top: 3rem;
          grid-column: centercontent;
          grid-row: 5 / 6;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          column-gap: 5rem; 
          @media only screen and (max-width: $bp-tab-land) {
              column-gap: 2.5rem; 
          }
      
          .hide-2 {
              display: none;
          }
  
  
          &__box {
              @media only screen and (max-width: $bp-tab-land-small) {
                  display: none;
              }
  
              grid-column: 1 / 2;
  
              border-radius: 1.5rem;
              background-image: linear-gradient(rgba(#fff, .2), rgba(#fff, .2));
              padding: 5rem;
              //font-size: 3rem;
              font-size: calc(1.6rem + .75vw);
              font-weight: 100;
  
              &--sig {
                  margin-top: 2rem;
                 justify-content: end;
              }
          }
  
          &__user {
              grid-column: 2/3;
              display: grid;
              grid-template-rows: repeat(4, min-content);
              grid-row-gap: 2.5rem;
          }
  
          .users {
              display: flex;
              align-items: center;
  
              &__img {
                  border: solid .1rem #808080;
                  border-radius: 100%;
                  @media only screen and (max-width: $bp-phone-port-large) {
                      height: 6rem;
                  }
                  height: 8rem;
                  filter: grayscale(70%);
                  transition: all .3s;
              }
  
              .full-testimonial {
                  display: none;
              }
  
              @media only screen and (max-width: $bp-tab-land-small) {
                  .dots {
                      display: none;
                  }
  
                  .full-testimonial {
                      display: inline;
                  }
              }
  
              &__text {
                  padding: 0 3rem 0 2rem;
                  @media only screen and (max-width: $bp-phone-port-large) {
                      padding: 0 1rem 0 1em;
                  }
                 // font-size: 2rem;
                  font-size: calc(1rem + .62vw);
                  font-weight: 100;
                  transition: font-weight .1s;
              }
              //FIX
              &:hover {
                  cursor: pointer;
  
                  p {
                      font-weight: 400;
                  }
                  
                  img {
                      filter: none;
                  } 
              }
  
          }
      }
  }
  
  .join {
    //  grid-column: fullwidth;
      grid-template-rows: 4rem repeat(5, auto) 7rem;
  
      background-color: #f7f7f7;
  
      .options {
          margin-top: 4rem;
          grid-row: 4 / 6;
          grid-column: centercontent;
  
          display: grid;
          grid-template: repeat(6,4.5vw) / repeat(18, 1fr);
          @media only screen and (max-width: $bp-tab-land) {
              grid-template-rows: repeat(10, 4.5vw);
          }
          @media only screen and (max-width: $bp-phone-port-large-1) {
              grid-template-rows: repeat(21, 4.5vw);
          }
          
          grid-gap: 1rem;
  
          &__link {
              text-decoration: none;
              color: rgb(235, 235, 235);
          }
  
          &__item {
              overflow: hidden;
              border-radius: 1.2rem;
              color: rgb(235, 235, 235);
              
              &--1 {
                  grid-row: 4 / 7;
                  grid-column: 1 / 5; 
                  display: grid;
                  grid-template-columns: 1fr;
  
                  justify-content: center;
                  @media only screen and (max-width: $bp-tab-land) {
                      grid-row: 7 / 11;
                      grid-column: 10/-1;
                  }
                  @media only screen and (max-width: $bp-phone-port-large-1) {
                      grid-row: 15 / 20;
                      grid-column: 1 / -1;
                  }
                  @media only screen and (max-width: $bp-phone-port) {
                      grid-row: 17 / 22;
                      grid-column: 1 / -1;
                  }
  
                  position: relative;
                  z-index: 75;
                  cursor: pointer;
  
                  .heading-4 {
                      top: 1.7vw;
                      font-size: 1.7vw;
                      @media only screen and (max-width: $bp-tab-land) {
                          top: 3.2vw;
                          font-size: calc(1.5rem + .85vw);
                      }
                      z-index: 90;
                  }
  
                  .social-media {
                      position: absolute;
                      top: 4.5vw;
                      left: 1.5vw;
                      z-index: 80;  
                      display: grid;    
                      grid-template-columns: 5rem min-content;
                      grid-column-gap: 4rem;
                      grid-gap: .5rem;
                      justify-items: center;
                    
                      .soc-media{
                          display: none;
                      }
                      @media only screen and (max-width: $bp-tab-land) {
                          grid-template-columns: 5rem max-content;
                          top: 5vw;
                          left: 6.5vw;
                          .soc-media{
                              display: inline;
                          }
                      }
                      @media only screen and (max-width: $bp-tab-land-small) {
                          left: 2.5vw;   
                      }
  
                      grid-column-gap: 4rem;
                      grid-gap: .5rem;
                      align-items: center;
                      @media only screen and (max-width: $bp-tab-land) {
                          top: 6.5vw;
                      }
  
                      @media only screen and (max-width: $bp-phone-port-large-1) {
                          top: 9.5vw;
                      }
  
                      &__icon {
                          height: 2.2vw;
                          width: 100%;
                          z-index: 81;
                          @media only screen and (max-width: $bp-tab-land) {
                              height: 3vw;
                          }
                          @media only screen and (max-width: $bp-phone-port-large-1) {
                              height: 3.8vw;
                          }
                          
                          &--1{
                              grid-column: 1 / 2;      
                          }
  
                          &--2 {
                              grid-column: 1 / 2;
                              grid-row: 2 / 3;
                          }
  
                          &--3 {
                              grid-column: 1 / 2;
                              grid-row: 3 / 4;
                        }
                      }
                      &__text {
                          font-weight: 400;
                          font-size: 1.6vw;
                           top: 4.5vw;
                           @media only screen and (max-width: $bp-tab-land) {
                              font-size: calc(1rem + .95vw);
                          }
                         
                          &:hover  {
                              font-weight: 600;
                          }
  
                          &--1 {
                              grid-column: 2 / 3;
                              grid-row: 1 / 2;
                          }
  
                          &--2 {
                              grid-column: 2 / 3;
                              grid-row: 2 / 3;
                              
                          }
  
                          &--3 {
                              grid-column: 2 / 3;
                              grid-row: 3 / 4;
                          }
                      }
                  }
              }
  
              &--2 {
                  grid-row: 4 / -1;
                  grid-column: 5 / 10;
                  @media only screen and (max-width: $bp-tab-land) {
                      grid-row: 1 / 7;
                      grid-column: 1 / 8;
                  }
                  @media only screen and (max-width: $bp-phone-port-large-1) {
                      grid-row: 7 / 11;
                      grid-column: 1 / -1;
                  }
                  @media only screen and (max-width: $bp-phone-port) {
                      grid-row: 7 / 12;
                      grid-column: 1 / -1;
                  }
  
                  z-index: 70;
                  position: relative; 
  
                  .heading-4 {
                      top: 1.8vw;
                      padding: 0 2vw;
                      font-size: 1.45vw;
                      z-index: 71;
  
                      @media only screen and (max-width: $bp-tab-land) {
                          top: 6vw; 
                          font-size: calc(1.4rem + .75vw);
                      }
                      @media only screen and (max-width: $bp-phone-port-large-1) {
                          top: 4vw; 
                          font-size: calc(1.4rem + 1.1vw);
                      }
                  }
  
                  .section-text {
                      color: rgb(235, 235, 235);
                      top: 3vw;
                      padding: 2vw;
                      font-size: calc(.5rem + .8vw);
                      @media only screen and (max-width: $bp-tab-land) {
                          top: 8vw;
                           font-size: calc(1rem + 1vw);
                          padding: 4vw;
                      }
                      @media only screen and (max-width: $bp-phone-port-large-1) {
                          top: 5.5vw; 
                          padding: 3vw 6vw;
                          font-size: calc(.7rem + 1.4vw);
                      }
                      z-index: 72;    
                  }
              }
  
              &--3 {
                  grid-row: 1 / 4;
                  grid-column: 1 / 10; 
                  @media only screen and (max-width: $bp-tab-land) {
                      grid-row: 7 / 11;
                      grid-column: 1 / 10;
                  }  
                  @media only screen and (max-width: $bp-phone-port-large-1) {
                      grid-row: 11 / 15;
                      grid-column: 1 / -1;
                  }
                  @media only screen and (max-width: $bp-phone-port) {
                      grid-row: 12 / 17;
                  }
                  z-index: 65;
                  position: relative;
                  color: rgb(235, 235, 235);
  
                  .heading-4 {  
                      top: 2.4vw;
                      //font-size: 1.9vw;
                      font-size: calc(1rem + 1.4vw);
                      @media only screen and (max-width: $bp-tab-land) {
                          top: 3.5vw;
                          font-size: calc(1.4rem + 1vw);
                      }
                      @media only screen and (max-width: $bp-phone-port-large) {
                          top: 5.5vw; 
                          font-size: calc(1.4rem + 1.1vw);
                      }  
                      z-index: 66;
                  }
  
                  .section-text {
                      top: 2.4vw;
                      padding: 2.6vw;
                      font-size: 1.3vw;
                      font-size: calc(.6rem + 1vw);
                      @media only screen and (max-width: $bp-tab-land) {
                          padding: 3.4vw;
                          top: 3.6vw;
                          font-size: calc(.7rem + 1vw);
                      }
                      @media only screen and (max-width: $bp-phone-port-large) {
                          top: 5vw; 
                          font-size: calc(.7rem + 1.3vw);
                          padding: 3vw 6vw;
                      }
                      @media only screen and (max-width: $bp-phone-port) {
                          top: 6vw; 
                          
                      }
                      z-index: 67;    
                  }
              }
  
              &--4 {
                  grid-row: 1 / -1;
                  grid-column: 10 / -1; 
                  @media only screen and (max-width: $bp-tab-land) {
                      grid-row: 1 / 7;
                      grid-column: 8 / -1; 
                  }
                  @media only screen and (max-width: $bp-phone-port-large-1) {
                      grid-column: 1 / -1;
                  }  
                  z-index: 55;
                  position: relative;
  
                  .heading-4 {
                      top: 7vw;
                     // font-size: 2vw;
                      font-size: calc(.5rem + 1.9vw);
                      @media only screen and (max-width:   $bp-phone-port-large-1) {
                          font-size: calc(1.5rem + 1.1vw);
                      }
                      @media only screen and (max-width: $bp-phone-port) {
                          //top: 4vw; 
                          font-size: calc(1.4rem + 1.1vw);
                      }  
                    
                      z-index: 60;
                  }
  
                  .section-text {
                      margin-top: 7.5vw;
                      padding: 5vw 6vw;
                      //font-size: 1.45vw;
                     font-size: calc(1.1rem + .7vw);
                     @media only screen and (max-width: $bp-tab-land) {
                          font-size: calc(.7rem + 1vw);
                      } 
                      @media only screen and (max-width:   $bp-phone-port-large-1) {
                          margin-top: 8.5vw;
                          font-size: calc(.6rem + 1.6vw);
                      }
                      z-index: 61;
                  }
              }
  
              .heading-4 {
                  width: 100%;
                  position: absolute;  
              }
  
              .section-text {
                  position: absolute;
                  font-weight: 400;
                  letter-spacing: .1rem;
                  cursor: pointer;
              }
          }
  
          &__img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
              filter: brightness(60%);
              border-radius: 1.2rem;
              transition: all .3s;
          }
  
          :hover .options__img  {
              overflow: hidden;
              transform: scale(1.05);   
              filter: brightness(80%);
              
          }
  
          
      }
  }